body {
    display: flex;
height: 681.6px;
padding-right: 0;
justify-content: center;
align-items: center;
flex-shrink: 0;
align-self: stretch;
}

.login-container {
border-radius: 10px;
background: #FFF;
box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.10), 0 8px 10px -6px rgba(0, 0, 0, 0.10);
width: 448px;
height: 531.2px;
}

.input-label{
display: flex;
padding: 0 338px 2.2px 0;
align-items: center;
align-self: stretch;
}

.input {
    display: flex;
width: 384px;
height: 41.6px;
padding: 8px 16px 8px 40px;
align-items: center;
border-radius: 10px;
border: 0.8px solid #D1D5DC;
}


.button {
    display: flex;
padding: 5.8px 0 10.2px 0;
justify-content: center;
align-items: center;
align-self: stretch;
border-radius: 10px;
background: #4F39F6;
}
